execute pathogen#infect()
syntax on
filetype plugin indent on

set paste
set number
set ruler
set mouse=a
set noswapfile

set autoindent
set expandtab
set shiftwidth=4
set tabstop=4
set smarttab

set hlsearch
set ignorecase
set incsearch
set smartcase

set foldmethod=indent
set nofoldenable
set cursorline

filetype indent on

set title
syntax enable

colorscheme slate

" Show hidden files in directory
let g:netrw_list_hide = '^\./$'
let g:netrw_hide = 1


" Configuration vim Airline
set laststatus=2

let g:airline#extensions#tabline#enabled=1
let g:airline_powerline_fonts=1

" Configuration NERDTree
map <F5> :NERDTreeToggle<CR>
let NERDTreeShowHidden = 1

" Configuration floaterm
let g:floaterm_keymap_toggle = '<F12>'
let g:floaterm_width = 0.9
let g:floaterm_height = 0.9

" Configuration Vim.FZF
let g:fzf_preview_window = 'right:50%'
let g:fzf_layout = { 'window': { 'width': 0.9, 'height': 0.6  }  }
