# Load via znap
zstyle ':znap:*' repos-dir ~/.znap
source {{ zsh.znap.path }}/znap.zsh

# Load plugins
# For oh-my-zsh and related themes
znap source ohmyzsh/ohmyzsh lib/{git,theme-and-appearance}

# Load ohmyzsh plugins
{% for pl in ohmyzsh.plugins %}
znap source ohmyzsh/ohmyzsh plugins/{{ pl }}
{% endfor %}

# Load plugins
{% for pl in zsh.znap.plugins %}
znap source {{ pl }}
{% endfor %}

# Standard zsh options

# Gray color for autosuggestions
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE='fg=247'

# see zshoptions(1) for details on what these do
# see also zshexpn(1) for details on how globbing works
setopt append_history # better concurrent shell history sharing
setopt auto_pushd # cd foo; cd bar; popd --> in foo again
setopt complete_in_word # more intuitive completions
setopt no_beep # BEEP
setopt extended_glob # better globs
setopt extended_history # better history
# setopt glob_complete # (see manual for description & tradeoffs)
setopt glob_star_short # ** means **/*, **/ means directory only **
setopt hist_expire_dups_first # don't fill your history as quickly with junk
setopt hist_ignore_space # ` command` doesn't save to history
setopt hist_subst_pattern # better globs / parameter expansion
setopt hist_reduce_blanks # `a  b` normalizes to `a b` in history
setopt hist_verify # reduce oops I sudoed the wrong thing
setopt interactive_comments # so pasting live to test works
setopt ksh_glob # better globs
setopt long_list_jobs # easier to read job stuff
setopt null_glob # sane globbing
setopt pipe_fail # fail when the first command in a pipeline fails
setopt share_history # better concurrent shell history sharing
setopt no_rm_star_silent # confirm on `rm *` (default, but let's be safe)
setopt prompt_cr prompt_sp # don't clobber output without trailing newlines
setopt rm_star_wait # wait after confirmation on `rm *` to allow ^C
#setopt auto_menu # automatically use menu completion
setopt menu_complete
setopt auto_list # automatically list choices on ambiguous completion

# # see zshmodules(1)
zmodload -Fm zsh/files b:zf_\* # emergency file manip under zf_*
zmodload zsh/complist # completion menus
zmodload zsh/mathfunc # better mathematical evaluation
zmodload zsh/termcap 2>/dev/null # terminal resources (if available)
zmodload zsh/terminfo 2>/dev/null # terminal resources (if available)

# # see zshcontrib(1)
autoload -Uz zargs # like xargs, but works with globs
autoload -Uz zcalc # like bc, but uses Zsh mathematical evaluation
autoload -Uz zmathfunc; zmathfunc # better mathematical evaluation
autoload -Uz zmv # like mv, but uses patterns (`zmv '(*).lis' '$1.txt'`)

# Complete with nicer menu system
zstyle ':completion:*' use-cache on
zstyle ':completion:*' menu select
zstyle ':completion:*' complete-options true
zstyle ':completion:*' file-sort dummyvalue

# Prompt Theme
znap prompt {{ zsh.znap.theme }}
