# This is Git's per-user configuration file.

[user]
	name = {{ user_full_name | mandatory }}
	email = {{ user_email | mandatory }}
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol

[fetch]
	# Prune the branches upon fetch
	prune = true
[pull]
	# All pulls default to rebase
	rebase = true

[color] 
	ui = auto
[color "branch"]
	current = yellow bold
	local = green bold
	remote = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

# Use meld for diff and merge
[diff]
	tool = meld
	colorMoved = zebra
[difftool]
	prompt = false
[difftool "meld"]
	cmd = meld "$LOCAL" "$REMOTE"
[merge]
	tool = meld
[mergetool "meld"]
	cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"

